<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<!--
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :phone_number, required: true %>
    <%= f.input :address, required: true %>
    <%= f.input :city, required: true %>
    <%= f.collection_select :province_id, Province.order(:name), :id, :name, prompt: 'Select Province', required: true %>
    <%= f.input :postal_code, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div> -->

  <div class="container">
    <div class="row">
        <div class="col-md-5 well">
            <div class="form-signup">
              <h4>Sign up</h4>
                <%= f.input :email, required: false, autofocus: true %>
                <%= f.input :password, required: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: false %>
                <%= f.input :first_name, required: false %>
                <%= f.input :last_name, required: false %>
                <%= f.input :phone_number, required: false %>
                <%= f.input :address, required: false %>
                <%= f.input :city, required: false %>
                <div class="form-group">
                <%= f.collection_select :province_id, Province.order(:name), :id, :name, class: "form-control", prompt: 'Select Province' %>
                </div>
                <%= f.input :postal_code, required: false %>
                <div class="wrapper">
                <span class="group-btn">
                  <%= f.button(:submit, "Sign up") do %>
                    <i class="fa fa-sign-in"></i>
                  <% end %>
                </span>
                  <div>
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
<% end %>

<!-- <%= render "devise/shared/links" %> -->
