<div class="row">

        <div class="col-lg-3">

          <h2 class="my-4">Brands</h2>

          <div class="list-group">
            <% Category.all.each do |category| %>
              <%= link_to category.name, category_path(category), :class => "list-group-item" %>
            <% end %>
          </div>

          <h2 class="my-4">Search</h2>
          <div class="card my-4">
              <div class="card-body">
                <div class="input-group">

                  <%= form_tag search_results_path, method: 'get' do |f| %>

                    <%= text_field_tag :search_keywords %>
                    <%= submit_tag "Go" %>

                  <% end %>

                </div>
              </div>
          </div>


        </div>


        <div class="col-lg-9">

          <div class="row">
            <%= render partial: 'common/allproducts', collection: @products %>
          </div>

          <div class="container">
            <%= paginate @products %>
          </div>

        </div>

</div>
