<div class="row">

        <div class="col-lg-3">

          <h2 class="my-4">Brands</h2>

          <div class="list-group">
            <a href="#" class="list-group-item">Nike</a>
            <a href="#" class="list-group-item">Adidas</a>
            <a href="#" class="list-group-item">Jordan</a>
          </div>

          <h2 class="my-4">Search</h2>

          <div class="card my-4">
              <div class="card-body">
                <div class="input-group">

                  <%= form_tag search_results_path, method: 'get' do |f| %>
                  <!-- <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                  </span> -->
                    <%= text_field_tag :search_keywords %>
                    <%= submit_tag "Go" %>
                  <% end %>

                </div>
              </div>
          </div>


        </div>


        <div class="col-lg-9">

          <div class="row">
            <%= render partial: 'common/allproducts', collection: @product %>
          </div>

          <div class="container">
            <%= paginate @product %>
          </div>

        </div>

</div>
