<div class="row">

        <div class="col-lg-3">

          <h2 class="my-4">Search</h2>
          <%= render partial: 'common/search' %>

          <h2 class="my-4">Brands</h2>
          <div class="list-group">
            <% Category.all.each do |category| %>
              <%= link_to category.name, category_path(category), :class => "list-group-item" %>
            <% end %>
          </div>

        </div>


        <div class="col-lg-9">
          <h2>Search Result for '<%= params[:search_keywords] %>' </h2>
          <div class="row">
            <%= render partial: 'common/allproducts', collection: @found_products %>
          </div>

          <div class="container">
            <%= paginate @found_products %>
          </div>

        </div>

</div>
