<div class="container jumbotron">
	<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="preview com-sm-12 col-md-6 col-lg-6">
          <%= image_tag @product.image, :class => "showProductImage" %>
				</div>


				<div class="details col-sm-12 col-md-6 col-lg-6">
					<h2 class="product-title"><%= @product.name %></h2>
          <h4>Description</h4>
					<p class="product-description"><%= @product.description %></p>

					<h4 class="price">Price: $ <%= @product.price %></h4>
          <h5 class="brand">Brand: <%= @product.category.name %></h5>
          <h5 class="condition">Condition: <%= @product.condition.name %></h5>
					<h5 class="sizes">Size: <%= @product.size %></h5>
					<div class="action">

						<%= form_for(@line_item, remote: true) do |f| %>

		          <%= f.hidden_field :product_id, value: @product.id %>
		          <%= f.hidden_field :quantity, value: 1 %>
		          <%= f.submit "Add to cart", class: 'btn btn-primary btn-sm' %>

		        <% end %>
					</div>
				</div>

			</div>

			</div>
		</div>
	</div>
</div>
