<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= image_tag allproducts.image, :class => "productImage" %>
    <div class="caption">
      <h3><%= allproducts.name %></h3>
      <p><strong>Price: $ </strong><%= allproducts.price %></p>
      <p><strong>Category: </strong><%= allproducts.category.name %></p>

      <p>
        <%= link_to 'View', product_path(allproducts), :class => "btn btn-default" %>
        <!-- <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          Add
        </button> -->
        <%= form_for(@line_item, remote: true) do |f| %>

          <%= f.hidden_field :product_id, value: allproducts.id %>
          <%= f.hidden_field :quantity, value: 1 %>
          <%= f.submit "Add to cart", class: 'btn btn-primary btn-sm' %>

        <% end %>
      </p>
    </div>
  </div>
</div>
