<div class="col-sm-6 col-md-4 col-lg-4">
  <div class="thumbnail">
    <%= link_to product_path(allproducts) do %>
      <%= image_tag allproducts.image, class: 'productImage' %>
    <% end %>
    <div class="caption">
      <h4 class="text-center"><%= link_to allproducts.name, product_path(allproducts), class: 'disabledLink' %></h4>
      <p><strong>Price: </strong><%= number_to_currency(allproducts.price, unit: "$") %></p>
      <p>
        <%= form_for(@line_item, remote: true) do |f| %>

          <%= f.hidden_field :product_id, value: allproducts.id %>
          <%= f.hidden_field :quantity, value: 1 %>
          <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          Add
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
